/* You can add global styles to this file, and also import other style files */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body {
    width: 100vw;
    max-width: 100vw;
    min-height: 100vh;
}

body,html {
    font-size: 10px;
    font-family: sans-serif;
}