:host {
    display: block;
  }

h1 {
    text-align: center;
    font-size: 10rem;
    line-height: 1;
    margin-bottom: 0;
}

.score {
    background: rgba(255,255,255,0.2);
    padding: 0 3rem;
    line-height: 1;
    border-radius: 1rem;
}

.game {
    width: 600px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.hole {
    flex: 1 0 33.33%;
    overflow: hidden;
    position: relative;
}

.hole:after {
    display: block;
    background-image: var(--hole-image);
    background-position-x: center;
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    width: 100%;
    height:70px;
    position: absolute;
    z-index: 2;
    bottom: -30px;
}

.mole {
    background-image: var(--mole-image);
    background-position-x: center;
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: 60%;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    transition:all 0.4s;
}

.hole.up .mole {
    top: 0;
}

.start {
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.75rem;
}

.duration {
    font-size: 4rem;
    line-height: 1;
    margin-left: 0.5rem;
    margin-bottom: 0;
}
