/* You can add global styles to this file, and also import other style files */
html {
    font-family: 'helvetica neue';
    text-align: center;
    font-size: 10px;
}

body {
    width: 100vw;
    min-height: 100vh;
}