div.container {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;

    background-size: cover;
    background-position-x: center;
    background-position-y: bottom;
 }

div.keys {
    max-width: 100%;
    display: inline-flex;

    .key {
        flex: 1;
    }
}