:host {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;

    background: url('/assets/images/background.jpg') bottom center;
    background-size: cover;
 }

div.keys {
    max-width: 100%;
    display: inline-flex;

    .key {
        flex: 1;
    }
}