/* You can add global styles to this file, and also import other style files */
*, ::before, ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 10px;
    background: #ffc600;
}

body {
    width: 100vw;
    min-height: 100vh;
    font-family: 'Amatic SC', cursive;
}
